<div class="pathPin">
    <div class="pathResultsLeft">
      <%= image_tag(path.path_image_url, :class=>"thumbImg") %> 
    </div><!--/. pathsResultsLeft-->  
    <div class="pathResultsRight">
      <div class="pathsTitle">
        <%= link_to path.name.titleize, path %>
      </div>
      <div class="pathsDescription">
        <%= path.content %>
      </div>
       <div class="postedBy">
        <div class="subOptions">   
          <%-# <%= link_to ' share', '#', :class => 'icon-share'-%>
          <% if(current_user && current_user.id == path.user_id )%>
              <%= link_to ' edit', edit_path_path(path), :class => 'icon-wrench' %>  
              <%= link_to ' delete', path, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'icon-trash' %> 
            <% end %>
        </div><!--/.subOptions -->
      </div><!--/. postedBy-->
    </div><!--/. pathsResultsRight --> 
</div> <!-- end paths wrapper -->
  
 
