<div class="row-fluid inner-wrap" id="pathsContainer">
  <div class="span3 ribbonHolder">
  
  <div class="well sidebar-nav-fixed">
          <ul class="nav nav-list">
            <li class="nav-header">Menu</li>
            <li>
          <%= link_to 'New Deck', new_path_path %>
        </li>
            <li>
                <%= link_to 'My Paths', '/profile' %>
            </li>
          </ul>
        </div><!--/.well -->
  </div>
<div class="span6 pathsRight">
<% @paths.each do |path| %>

  <div class="pathsWrapper">
     <div class="pathsTitle">
      <%= link_to simple_format(path.name), path %>
    </div>
      <div class="pathsDescription">
      <%= path.content %>
    </div>

    <div class="postedBy">
      <div class="subOptions">   
        <%= link_to ' share', '#', :class => 'icon-share', :style => 'display:inline; font-size:14px; color: #005580; margin-right:1px;' %> 
        <% if(current_user && current_user.id == deck.user_id )%>
        <%= link_to ' edit', edit_deck_path(deck), :class => 'icon-wrench', :style => 'display:inline; font-size:14px; color: #005580; margin-right:1px;' %>  
        <%= link_to ' delete', path, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'icon-trash', :style => 'display:inline; font-size:14px; color: #005580; margin-right:1px;' %>  
        <% end %>
      </div>
    </div>
  </div> <!-- end result wrapper -->
   <% end %>
</div>

</div>