<div id="pathsContainer">
  <div id="pathContentDescription">
    <p id="notice"><%= notice %></p>

    <p>
      <h1><%= @path.name %>   </h1>
    </p>

    <p>
      <%= @path.content %>
    </p>
    <% if @path.user == current_user %>
      <%= link_to 'Edit', edit_path_path(@path) %> |
    <% end %>
    <%= link_to 'Back', paths_path %>

    <h1>Resources: </h1>
  </div>

<div id="pathResources">
<hr/>
<br/>
  <div id="columns">
    <%= render :partial => 'shared/pinresults', :collection => @resources, :as => 'resource' %>
  </div>
</div>

</div>
