<h1>Listing comments</h1>

<table>
  <tr>
    <th>Content</th>
    <th>User</th>
    <th>Resource</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rcomments.each do |rcomment| %>
  <tr>
    <td><%= rcomment.content %></td>
    <td><%= rcomment.user_id %></td>
    <td><%= rcomment.resource_id %></td>
    <td><%= link_to 'Show', rcomment %></td>
    <td><%= link_to 'Edit', edit_rcomment_path(rcomment) %></td>
    <td><%= link_to 'Destroy', rcomment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_rcomment_path %>
