<div class="container">
  <div class="span12" style="padding-left:20%">
			<h1>Resume</h1>
			<div style="float:right;padding-right:10%;">
		    </div>
		    <div style="clear:both;"/></div>
			<% if(current_user.resume.nil?) %>
			   
			  
			<% else %>

			  <div id='user-resume' class="resume">
			  	<%= current_user.first_name%> <%= current_user.last_name%><br>
			  	
			  	<%= current_user.resume.phone unless current_user.resume.phone.nil? %><br>
			  	<%= current_user.resume.address unless current_user.resume.address.nil?%> 
			  	<div id='editbutton' style="display:none;">
			  	<%= link_to image_tag('edit_button.png', :size => '70x30'),
                      resumes_path, :class => 'btn btn-mini editbutton' %>
                </div>
			  </div>
			  <div id='user-education' class="resume">
			  	<h3>Education</h3>
			  	<% @education.each do |edu|%>
			  	<div id='edu'>
			  		<div id='eduleft' >
			  		  <b class='resume'><%= edu.school_name %></b>
			  		</div>
			  		<div id='eduright' class='resume'>
			  			<%= edu.since_year %>-<%=edu.end_year%>
			  		</div>
			  		<div style="clear:both;"/></div>
			  		<div id='eduleft' class='resume'>
			  		  <%= edu.major %>
			  		</div>
			  		<div id='eduright' class='resume'>
			  			<%= edu.city%>, <%= edu.state %>
			  		</div>
			  		<div style="clear:both;"/></div>
			  	</div>
			  	<% end %>
			  </div>
			  <div id='user-experience' class="resume">
			  	<h3>Experience</h3>
			  	<% @experience.each do |exp|%>
			  	<div id='edu'>
			  		<b><h3 id='eduleft'class='resume'>
			  		  <%= exp.institute_name %>
			  		</h3></b>
			  		<div id='eduright'class='resume'>
			  			<%= exp.since_year %>-<%=exp.end_year%>
			  		</div>
			  		<div style="clear:both;"/></div>
			  		<b><div id='eduleft'class='resume'>
			  		  <%= exp.title %>
			  		</div></b>
			  		<div id='eduright'class='resume'>
			  		  <%= exp.city%>, <%= exp.state %>
			  		</div>
			  		<div style="clear:both;"/></div>
			  		<div class='resume'>
			  		<%= exp.summary%>
			  		</div>
			  	</div>
			  	<% end %>
			  </div>
			  <div id='user-skill' class="resume">
			  	<h3>Skill</h3>
			  	<ul>
			  	<% @skill.each do |ski|%>
			  		<li ><b class='resume'><%= ski.name%> </b><% if(!ski.summary.nil?)%> - <span class="resume"><%= ski.summary %></span><%end%></li>
			  		<%#= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_skill_path(ski), :class => 'btn btn-mini' %>
			    <%end%>
			    </ul>
			  </div>
			  <div id='user-achievement' class="resume">
			  	<h3>Achievement</h3>
			  	<ul>
			  	<% @achievement.each do |ach|%>
			  		<li class='resume'><%= ach.summary %></li>
			    <%end%>
			    </ul>
			  </div>

			<% end %> <br>

			 <%= link_to image_tag('back_button.png', :size => '70x30'), user_profile_path %> 
  </div>
 

</div>