<h1>Listing flags</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Itemtype</th>
    <th>Desc</th>
    <th>Reporter</th>
    <th>Resolved</th>
    <th>Moderator</th>
    <th>Moderator msg</th>
    <th>Action</th>
    <th>Checked</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @flags.each do |flag| %>
  <tr>
    <td><%= flag.item_id %></td>
    <td><%= flag.itemtype %></td>
    <td><%= flag.desc %></td>
    <td><%= flag.reporter_id %></td>
    <td><%= flag.resolved %></td>
    <td><%= flag.moderator_id %></td>
    <td><%= flag.moderator_msg %></td>
    <td><%= flag.action %></td>
    <td><%= flag.checked %></td>
    <td><%= link_to image_tag('takedown.png', :size => '70x30'), flag %></td>
    <td><%= link_to image_tag('edit_button.png', :size => '70x30'), edit_flag_path(flag) %></td>
    <td><%= link_to image_tag('delete_button.png', :size => '70x30'), flag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


