<div class = "resourceShowHolder">
    <div class="descriptionHolder">
      <div class="resourceImage">
        <%= link_to image_tag(@resource.snapshot.url, :class=>"thumbImg"), url_for(@resource.link), :value => @resource.id  %>
      </div>
      <div class="resourceInfo">
        <div class="upvotesCount">
          <%= @resource.reputation_for(:votes).to_i %>
        </div>
        <div class="r" value="<%= resource.id %>">
          <%= link_to @resource.title, url_for(@resource.link), :value => @resource.id, :class => 'resourceTitle' %>
        </div>
      </div>
      <div style="clear:both;"></div>
      <div class="resourceDescription">
        <%= @resource.description %>
      </div>
      <b>Tag list:</b>
      <%= @resource.tag_list %>
    </div>
    <div class="answersHolder">
      <div class="resourceComments">
        Comments:<br><div style="clear:both;"></div>
        <% if @rcomments.empty? %>
           No one has left a comment yet. Be the first!
        <% else %>
            <%= nested_rcomments @rcomments.arrange(:order => :created_at) %>
        <% end %>
      </div>
      <div class="newCommentForm">
        <%= render "rcomments/form" %>
      </div>
    </div>
</div>
