<div class = "resourceShowHolder">
  <div class="resourceContentHolder">
    <div class="descriptionHolder">
      <div class="resourceImage">
        <%= image_tag(@resource.snapshot.url, :class=>"thumbImg") %>
      </div>
      <div id="resourceInfo">
        <div class="upvotesCount">
          <%= @resource.reputation_for(:votes).to_i %>
        </div>
        <div class="r" value="<%= resource.id %>">
          <%= link_to @resource.title, url_for(@resource.link), :value => @resource.id, :class => 'resourceTitle' %>
        </div>
      </div>
      <div style="clear:both;"></div>
      <div class="resourceDescription">
        <%= @resource.description %>
      </div>
      <b>Tag list:</b>
      <%= @resource.tag_list %>
    </div>
    <div class="answersHolder">
      Comments:
      <%= nested_rcomments @rcomments.arrange(:order => :created_at) %>
      <%= render "rcomments/form" %>
    </div>
  </div>